includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths: [src]
    checkMissingIterableValueType: false

    ignoreErrors:
        - "#^Construct empty\\(\\) is not allowed. Use more strict comparison.$#"
        -
            message: "#^Interface Flight\\\\Routing\\\\Interfaces\\\\RouteCollectionInterface extends generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
            path: src/Interfaces/RouteCollectionInterface.php
        -
            message: "#^Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.$#"
            path: src/Route.php
        -
            message: "#^Trying to invoke \\(callable\\(\\): mixed\\)\\|object but it might not be a callable.$#"
            path: src/RouteCollector.php
        -
            message: "#^Parameter \\#1 \\$callable of method DivineNii\\\\Invoker\\\\Interfaces\\\\InvokerInterface\\:\\:call\\(\\) expects array<string>\\|\\(callable\\(\\): mixed\\)\\|string, array<string>\\|\\(callable\\(\\): mixed\\)\\|object\\|string given.$#"
            path: src/Router.php
        -
            message: "#^Parameter \\#1 \\$str of function (stripslashes|strtr) expects string, array\\|string given.$#"
            path: src/Services/SimpleRouteCompiler.php
        -
            message: "#^Parameter \\#1 \\$defaults of method Flight\\\\Routing\\\\Interfaces\\\\RouteInterface\\:\\:setDefaults\\(\\) expects array<string, mixed>, array<int\\|string, mixed> given.$#"
            path: src/Services/SimpleRouteCompiler.php
        -
            message: "#^Parameter \\#3 \\$callable of method Flight\\\\Routing\\\\RouteCollector\\:\\:any\\(\\) expects \\(callable\\(\\): mixed\\)\\|object\\|string\\|null, array\\(object\\|string, string\\) given.$#"
            path: src/RouteCollector.php
        -
            message: "#^Parameter \\#1 \\$argument of class ReflectionClass constructor expects class-string<T of object>\\|T of object, string given.$#"
            path: src/RouteLoader.php
        -
            message: "#^Call to an undefined method Doctrine\\\\Common\\\\Annotations\\\\Reader\\|Spiral\\\\Annotations\\\\AnnotationLocator\\:\\:getClassAnnotation|getMethodAnnotations|findClasses|findMethods|\\(\\)$#"
            path: src/RouteLoader.php
