includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths: [src]
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    excludes_analyse:
        - %currentWorkingDirectory%/src/Traits/DumperTrait.php

    ignoreErrors:
        - "#^Construct empty\\(\\) is not allowed. Use more strict comparison.$#"
        - "#^Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.$#"
        - "#^Call to function is_callable\\(\\)|is_string\\(\\)|is_object\\(\\) with (string|object) will always evaluate to false.$#"
        -
            message: "#^Result of && is always false.|Parameter \\#1 \\$function|\\$callback of function call_user_func_array expects callable\\(\\): mixed, array\\(mixed|Flight\\\\Routing\\\\Route, string\\) given.$#"
            path: src/RouteCollection.php
        -
            message: "#^Variable property access on Flight\\\\Routing\\\\Route|\\$this\\(Flight\\\\Routing\\\\Route\\).$#"
            path: src/Route.php
        -
            message: "#^Method Flight\\\\Routing\\\\Router\\:\\:getMatcher\\(\\) should return Flight\\\\Routing\\\\Interfaces\\\\RouteMatcherInterface but returns object.$#"
            path: src/Router.php
