<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="https://getpsalm.org/schema/config"
       name="Psalm for Flight Routing"
       useDocblockTypes="true"
       errorLevel="5"
       strictBinaryOperands="false"
       rememberPropertyAssignmentsAfterCall="true"
       checkForThrowsDocblock="false"
       throwExceptionOnError="0"
       ensureArrayStringOffsetsExist="true"
       ensureArrayIntOffsetsExist="false"
       resolveFromConfigFile="true"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <MethodSignatureMismatch>
            <errorLevel type="suppress">
                <directory name="src/Routes" />
            </errorLevel>
        </MethodSignatureMismatch>

        <InvalidReturnType>
            <errorLevel type="suppress">
                <file name="src/RouteMatcher.php" />
            </errorLevel>
        </InvalidReturnType>

        <InvalidReturnStatement>
            <errorLevel type="suppress">
                <file name="src/RouteMatcher.php" />
            </errorLevel>
        </InvalidReturnStatement>
    </issueHandlers>
</psalm>
