<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="https://getpsalm.org/schema/config"
       name="Psalm for Flight Routing"
       useDocblockTypes="true"
       errorLevel="3"
       strictBinaryOperands="false"
       rememberPropertyAssignmentsAfterCall="true"
       checkForThrowsDocblock="false"
       throwExceptionOnError="0"
       ensureArrayStringOffsetsExist="true"
       ensureArrayIntOffsetsExist="false"
       resolveFromConfigFile="true"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <TypeDoesNotContainType>
            <errorLevel type="suppress">
                <file name="src/Annotation/Listener.php"/>
                <file name="src/Exceptions/InvalidMiddlewareException.php"/>
            </errorLevel>
        </TypeDoesNotContainType>

        <RedundantCondition>
            <errorLevel type="suppress">
                <file name="src/Exceptions/InvalidMiddlewareException.php"/>
            </errorLevel>
        </RedundantCondition>

        <InvalidOperand>
            <errorLevel type="suppress">
                <file name="src/Traits/DumperTrait.php"/>
            </errorLevel>
        </InvalidOperand>

        <InvalidArrayOffset>
            <errorLevel type="suppress">
                <file name="src/Matchers/SimpleRouteMatcher.php"/>
            </errorLevel>
        </InvalidArrayOffset>

        <InvalidCatch>
            <errorLevel type="suppress">
                <referencedClass name="Psr\Container\NotFoundExceptionInterface" />
            </errorLevel>
        </InvalidCatch>

        <NullArgument>
            <errorLevel type="suppress">
                <referencedFunction name="Flight\Routing\RouteCollection::offsetSet"/>
            </errorLevel>
        </NullArgument>

        <PossiblyNullArgument>
            <errorLevel type="suppress">
                <referencedFunction name="Flight\Routing\DebugRoute::__construct"/>
            </errorLevel>
        </PossiblyNullArgument>

        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <referencedFunction name="Flight\Routing\Router::generateCompiledRoutes"/>
            </errorLevel>
        </ArgumentTypeCoercion>

        <MoreSpecificReturnType>
            <errorLevel type="suppress">
                <file name="src/Router.php"/>
            </errorLevel>
        </MoreSpecificReturnType>

        <LessSpecificReturnStatement>
            <errorLevel type="suppress">
                <file name="src/Router.php"/>
            </errorLevel>
        </LessSpecificReturnStatement>

        <PossiblyNullArrayOffset>
            <errorLevel type="suppress">
                <file name="src/Traits/CastingTrait.php"/>
            </errorLevel>
        </PossiblyNullArrayOffset>

        <InvalidPropertyAssignmentValue>
            <errorLevel type="suppress">
                <file name="src/Traits/CastingTrait.php"/>
            </errorLevel>
        </InvalidPropertyAssignmentValue>

        <PossiblyUndefinedStringArrayOffset>
            <errorLevel type="suppress">
                <file name="src/Route.php"/>
                <file name="src/Annotation/Route.php"/>
                <file name="src/Traits/CastingTrait.php"/>
                <file name="src/Traits/DumperTrait.php"/>
                <file name="src/Matchers/SimpleRouteCompiler.php"/>
                <file name="src/Matchers/SimpleRouteMatcher.php"/>
            </errorLevel>
        </PossiblyUndefinedStringArrayOffset>
    </issueHandlers>
</psalm>
